<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="some" class="com.shengsiyuan.spring_key.introduction_interceptor.Some"/>
    <bean id="otherIntroduction" class="com.shengsiyuan.spring_key.introduction_interceptor.OtherIntroduction"/>

    <bean id="otherAdvisor" class="org.springframework.aop.support.DefaultIntroductionAdvisor">
        <constructor-arg index="0">
            <ref bean="otherIntroduction"/>
        </constructor-arg>
        <constructor-arg index="1">
            <value>com.shengsiyuan.spring_key.introduction_interceptor.IOther</value>
        </constructor-arg>
    </bean>

    <bean id="proxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>com.shengsiyuan.spring_key.introduction_interceptor.ISome</value>
        </property>
        <property name="target">
            <ref bean="some"/>
        </property>
        <property name="interceptorNames">
            <list>
                <value>otherAdvisor</value>
            </list>
        </property>
    </bean>
</beans>
