<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <bean class="com.shengsiyuan.spring_key.converter.MyConversionService">
            </bean>
        </property>
    </bean>

    <bean id="person" class="com.shengsiyuan.spring_key.beans.Person">
        <property name="name" value="zhangsan"/>
        <property name="interests" value="足球,篮球"/>
        <property name="birth" value="2015-01-01"/>
    </bean>

<!--    <bean id="conversionService" class="com.shengsiyuan.spring_key.converter.MyConversionService"/>-->



</beans>
