<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.shengsiyuan.spring_key.beans.Student">
        <property name="name" value="zhangsan"></property>
        <property name="age" value="4"></property>
    </bean>

    <bean id="aopService" class="com.shengsiyuan.spring_key.service.impl.AopServiceImpl">
<!--        <property name="student" ref="student"></property>-->
    </bean>

    <bean id="myAspect" class="com.shengsiyuan.spring_key.proxy.jdk.MyAspect"/>

    <bean id="factoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="aopService"></property>
        <property name="interceptorNames" value="myAspect"></property>
        <property name="proxyTargetClass" value="true"></property>
    </bean>

    <bean id="myAop" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>com.shengsiyuan.spring_key.service.AopService</value>
        </property>

        <property name="interceptorNames">
            <list>
                <value>myAspect</value>
            </list>
        </property>

        <property name="target">
            <ref bean="aopService"></ref>
        </property>
    </bean>


</beans>
